{% extends 'registration/registration_base.html' %}

{% block title %}Esqueceu a senha?{% endblock %}

{% block content %}
<h1>Esqueceu a senha?</h1>
<p>Insira seu email abaixo, e enviaremos um email com instruções para uma nova senha.</p>

<v-form method="POST" v-model="formValido">
	{% csrf_token %}
	<v-row>
		<v-col cols="12">
			<v-text-field dense id="id_email" label="Email" hint="Insira um email válido" name="email" v-model="email"
				:rules="[rules.required, rules.email]">
			</v-text-field>
		</v-col>
	</v-row>
	{% for error in form.email.errors %}
	<v-alert dense outlined type="error">
		{{ error }}
	</v-alert>
	{% endfor %}
	<v-row>
		<v-col cols="12">
			<v-btn class="mx-2 float-right" color="deep-purple lighten-1" dark type="submit" :disabled="!formValido">
				Enviar
			</v-btn>
		</v-col>
	</v-row>
</v-form>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
	var objetos = {
		email: '{{ form.email.value|default:"" }}',
		formValido: false,
		rules: {
			required: value => !!value || 'Campo obrigatório',
			email: value => {
				const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
				return pattern.test(value) || 'Email inválido.'
			},
		},
	};
	data = { ...data, ...objetos };
</script>
{% endblock %}