{% extends "account/base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a
		href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}
{% if form %}
<v-form method="POST" action="{{ action_url }}" v-model="formValido" ref="form">
	{% csrf_token %}
	{% include 'form.html' with form=form tamanho_colunas=12 %}
	<v-btn color="deep-purple lighten-1" dark type="submit" :disabled="!formValido">
		{% trans "change password" %}
	</v-btn>
</v-form>
{% else %}
<p>{% trans 'Your password is now changed.' %}</p>
{% endif %}
{% endif %}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
	var form = {{ form.fields_dict | safe}};

	var objetosSenha = {
		formValido: false,
		password1Rules: [value => !!value || 'Campo obrigatório',
		value => { if (!value) return 'Mín. 8 dígitos'; return value.length >= 8 || 'Mín. 8 dígitos' }],
		password2Rules: [value => !!value || 'Campo obrigatório',
		value => { if (!app) return false; return value === app.password1 || 'Senhas devem ser iguais'; }]
	};

	var metodosSenha = {
		getRules(campo) {
			return this[campo] || [];
		},
		validate: function () {
			// manually call validation
			this.$refs.form.validate();
		}
	};

	data = { ...data, ...objetosSenha, ...form };
	methods = { ...methods, ...metodosSenha };

	var app = gerarApp(data, methods, computed);
	app.validate();
</script>
{% endblock %}