{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<h1>{% trans "Password Reset" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
</p>

<v-form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" ref="form"
	v-model="formValido">
	{% csrf_token %}
	{% include 'form.html' with form=form tamanho_colunas=12 %}
	<v-btn color="deep-purple lighten-1" dark type="submit" :disabled="!formValido">
		{% trans 'Reset My Password' %}
	</v-btn>
</v-form>

<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
	var form = {{ form.fields_dict | safe}};

	var objetosSenha = {
		formValido: false,
		emailRules: [value => !!value || 'Campo obrigatório',
		value => {
			const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
			return pattern.test(value) || 'Email inválido'
		}]
	};

	var metodosSenha = {
		getRules(campo) {
			return this[campo] || [];
		},
		validate: function () {
			// manually call validation
			this.$refs.form.validate();
		}
	};

	data = { ...data, ...objetosSenha, ...form };
	methods = { ...methods, ...metodosSenha };

	var app = gerarApp(data, methods, computed);
	app.validate();
</script>
{% endblock %}