<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }

        h2,
        .v-toolbar__title {
            font-family: 'Merienda One', cursive;
            margin-bottom: 5px;
        }

        a,
        a>* {
            color: #7E57C2 !important;
            text-decoration: none !important;
        }
    </style>

    {% if PROD %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7792152-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-7792152-10');
    </script>
    {% endif %}
</head>

{% comment %}
lime lighten-2
lime lighten-5
lime darken-3
deep-purple lighten-1
{% endcomment %}

<body>
    <v-app id="app" style="background-color: #F9FBE7;">
        <v-app-bar app color="lime darken-3" dark elevate-on-scroll>
            <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon> -->
            <v-toolbar-title>Apoie Produtores Locais</v-toolbar-title>
        </v-app-bar>

        <!-- <v-navigation-drawer app v-model="drawer">
            <v-list dense>
                <v-list-item link>
                    <v-list-item-action>
                        <v-icon>mdi-home</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Home</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer> -->

        <v-content>
            <v-container fluid>
                <v-overlay :value="loading.length > 0" style="z-index: 3000">
                    <v-layout row justify-center align-center>
                        <v-progress-circular indeterminate :size="128" :width="8" color="deep-purple lighten-1">
                        </v-progress-circular>
                    </v-layout>
                </v-overlay>
                <v-row class="mx-0">
                    <v-col cols="12" md="6" v-if="estadoAtual === estadoLista">
                        <v-sheet color="lime lighten-2" tile>
                            <v-sheet color="lime lighten-2" class="pa-3" tile>
                                <h2>Sobre</h2>
                                <p>A ideia dessa página é centralizar as informações de pequenos produtores no DF.</p>
                                <p class="mb-0">Dessa forma podemos encontrar padronizar as listas que tem circulado
                                    pelas redes sociais.</p>
                            </v-sheet>

                            <v-col cols="12" class="hidden-sm-and-down">
                                <v-divider></v-divider>
                            </v-col>

                            <v-sheet class="pa-3 hidden-sm-and-down" color="lime lighten-2" tile>
                                <h2>Filtros</h2>
                                <v-row>
                                    <v-col md="4">
                                        <v-select v-model="pesquisa.categoria" :items="categorias" item-text="nome"
                                            item-value="id" label="Categoria" outlined></v-select>
                                    </v-col>
                                    <v-col md="4">
                                        <v-text-field v-model="pesquisa.nome" label="Nome" placeholder="Digite um nome"
                                            outlined>
                                        </v-text-field>
                                    </v-col>
                                    <v-col md="4">
                                        <v-select v-model="pesquisa.regiaoEntrega" :items="regioesEntrega"
                                            item-text="nome" item-value="id" label="Região de entrega" outlined>
                                        </v-select>
                                    </v-col>
                                </v-row>
                            </v-sheet>
                    </v-col>

                    <v-col cols="12" class="hidden-md-and-up" v-if="estadoAtual === estadoLista">
                        <v-divider></v-divider>
                    </v-col>

                    <v-col cols="12" class="hidden-md-and-up" md="6" v-if="estadoAtual === estadoLista">
                        <v-sheet color="lime lighten-2" tile>
                            <v-sheet color="lime lighten-2" class="pa-3" tile>
                                <v-btn class="mr-5" icon @click="showFiltros = !showFiltros" right absolute
                                    color="deep-purple lighten-1">
                                    <v-icon large>[[ showFiltros ? 'mdi-chevron-up' : 'mdi-chevron-down' ]]
                                    </v-icon>
                                </v-btn>
                                <h2>Filtros</h2>
                                <v-row v-if="showFiltros">
                                    <v-col cols="12">
                                        <v-select v-model="pesquisa.categoria" :items="categorias" item-text="nome"
                                            item-value="id" label="Categoria" outlined></v-select>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field v-model="pesquisa.nome" label="Nome" placeholder="Digite um nome"
                                            outlined>
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-select v-model="pesquisa.regiaoEntrega" :items="regioesEntrega"
                                            item-text="nome" item-value="id" label="Região de entrega" outlined>
                                        </v-select>
                                    </v-col>
                                </v-row>
                            </v-sheet>
                        </v-sheet>
                    </v-col>

                    <v-col cols="12" class="hidden-md-and-up" v-if="estadoAtual === estadoLista">
                        <v-divider></v-divider>
                    </v-col>

                    <v-col cols="12" md="6" v-if="estadoAtual === estadoLista">
                        <v-sheet color="lime lighten-2" tile>
                            <v-sheet color="lime lighten-2" class="pa-3" tile>
                                <h2>Negócios</h2>
                                <v-card>
                                    <v-list class="py-0" color="lime lighten-5" two-line max-height="600"
                                        style="overflow-y: scroll;">
                                        <v-list-item-group multiple active-class="deep-purple--text text--lighten-1">
                                            <template v-for="(negocio, index) in negociosFiltrados">
                                                <v-list-item @click="selecionarNegocio(negocio)">
                                                    <template v-slot:default="{ active, toggle }">
                                                        <v-list-item-content>
                                                            <v-list-item-title>
                                                                <span>[[ negocio.nome ]]</span>
                                                                <span v-if="negocio.instagram.length > 0">
                                                                    <a v-on:click.stop :href="negocio.instagram">
                                                                        <v-icon>mdi-instagram</v-icon>
                                                                    </a>
                                                                </span>
                                                            </v-list-item-title>

                                                            <v-list-item-subtitle v-if="negocio.categorias">
                                                                <v-tooltip bottom
                                                                    v-for="(categoria, index) in negocio.categorias">
                                                                    <template v-slot:activator="{ on }">
                                                                        <v-icon v-on:click.stop v-on="on">
                                                                            [[ buscarCategoriaIcone(categoria.id) ]]
                                                                        </v-icon>
                                                                    </template>
                                                                    <span>[[ buscarCategoriaNome(categoria.id)
                                                                        ]]</span>
                                                                </v-tooltip>
                                                            </v-list-item-subtitle>
                                                            <v-list-item-subtitle class="text--primary"
                                                                v-text="negocio.endereco">
                                                            </v-list-item-subtitle>

                                                            <template
                                                                v-for="(contato, indexContato) in negocio.contatos">
                                                                <v-list-item-subtitle>
                                                                    <span>
                                                                        <span>[[ contato.nome_telefone ]]
                                                                            <a v-on:click.stop v-if="contato.whatsapp"
                                                                                :href="contato.whatsapp">
                                                                                <v-icon>mdi-whatsapp</v-icon>
                                                                            </a></span>
                                                                    </span>
                                                                </v-list-item-subtitle>
                                                            </template>
                                                        </v-list-item-content>
                                                    </template>
                                                </v-list-item>
                                                <v-divider v-if="index + 1 < negociosFiltrados.length" :key="index">
                                                </v-divider>
                                            </template>
                                        </v-list-item-group>
                                    </v-list>
                                </v-card>
                            </v-sheet>
                        </v-sheet>
                    </v-col>

                    <v-col cols="12" v-if="estadoAtual === estadoDetalhe">
                        <v-sheet color="lime lighten-2" tile>
                            <v-sheet color="lime lighten-2" class="pa-3" tile>
                                <v-row>
                                    <v-col cols="12" class="py-0">
                                        <h2>[[ negocioSelecionado.nome ]]
                                            <span v-if="negocioSelecionado.instagram.length > 0">
                                                <a :href="negocioSelecionado.instagram">
                                                    <v-icon large>mdi-instagram</v-icon>
                                                </a>
                                            </span>
                                        </h2>
                                    </v-col>
                                    <v-col cols="12" class="py-0">
                                        <h4>[[negocioSelecionado.endereco]]</h4>
                                    </v-col>

                                    <v-col cols="12" md="3" class="py-0">
                                        <h4 class="mt-2">Contatos</h4>
                                        <v-col cols="12" class="pa-0"
                                            v-for="(contato, indexContato) in negocioSelecionado.contatos">
                                            <span>[[ contato.nome_telefone ]]
                                                <a v-if="contato.whatsapp" :href="contato.whatsapp">
                                                    <v-icon>mdi-whatsapp</v-icon>
                                                </a>
                                            </span>
                                        </v-col>
                                    </v-col>

                                    <v-col cols="12" md="3" class="py-0">
                                        <h4 class="mt-2">Formas de pagamento</h4>
                                        <span>[[ negocioSelecionado.formas_pagamento ]]</span>
                                    </v-col>

                                    <v-col cols="12" md="3" class="py-0">
                                        <h4 class="mt-2">Formas de entrega</h4>
                                        <span>[[ formatarFormaEntrega(negocioSelecionado.formas_entrega)
                                            ]]</span>
                                    </v-col>

                                    <v-col v-if="negocioSelecionado.valor_minimo > 0" cols="12" md="3" class="py-0">
                                        <h4 class="mt-2">
                                            Valor mínimo do pedido
                                        </h4>
                                        <span>[[ formatarPreco(negocioSelecionado.valor_minimo)
                                            ]]</span>
                                    </v-col>

                                    <v-col cols="12" md="3" class="py-0">
                                        <h4 class="mt-2">Regiões de entrega</h4>
                                        <v-col cols="12" class="pa-0"
                                            v-for="(regiaoEntrega, indexRegiaoEntrega) in negocioSelecionado.regioes_entrega">
                                            <v-row>
                                                <v-col cols="8" class="py-0">
                                                    <span>
                                                        [[ regiaoEntrega.nomeRegiao ]]
                                                    </span>
                                                </v-col>
                                                <v-col cols="4" class="py-0 pl-0">
                                                    <span v-if="regiaoEntrega.taxa_entrega > 0"
                                                        class="float-right font-weight-bold">[[
                                                        formatarPreco(regiaoEntrega.taxa_entrega)
                                                        ]]</span>
                                                </v-col>
                                            </v-row>
                                        </v-col>
                                    </v-col>

                                    <v-col cols="12" md="4" class="py-0">
                                        <h4 class="mt-2">Produtos</h4>
                                        <v-col cols="12" class="pa-0"
                                            v-for="(produto, indexProduto) in negocioSelecionado.produtos">
                                            <v-row>
                                                <v-col cols="8" class="py-0">
                                                    <span>
                                                        <v-icon>[[ buscarCategoriaIcone(produto.categoria) ]]</v-icon>
                                                        [[ produto.nome ]]
                                                    </span>
                                                </v-col>
                                                <v-col cols="4" class="py-0 pl-0">
                                                    <span v-if="produto.preco > 0"
                                                        class="float-right font-weight-bold">[[
                                                        formatarPreco(produto.preco)
                                                        ]]</span>
                                                </v-col>
                                            </v-row>
                                        </v-col>
                                    </v-col>
                                </v-row>
                            </v-sheet>
                        </v-sheet>
                        <v-btn fab color="deep-purple lighten-1" bottom right fixed @click="voltarLista()">
                            <v-icon color="white">mdi-arrow-left</v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
        <v-footer app color="lime lighten-2" absolute class="py-0">
            <v-col class="text-center py-1" cols="12">
                <span>Feito por <a href="https://twitter.com/gui_niz">@gui_niz</a></span>
            </v-col>
        </v-footer>
    </v-app>

    {% if PROD %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    {% else %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const ESTADO_LISTA = 1;
        const ESTADO_DETALHE = 2;

        const CATEGORIA_CONGELADOS = 1;
        const CATEGORIA_SALGADOS = 2;
        const CATEGORIA_DOCES = 3;
        const CATEGORIA_PAES = 4;
        const CATEGORIA_BEBIDAS = 5;
        const CATEGORIA_CASTANHAS = 6;
        const CATEGORIA_CAFES = 7;
        const CATEGORIA_COGUMELOS = 8;
        const CATEGORIA_HORTIFRUTI = 9;
        const CATEGORIA_CARNES = 10;
        const CATEGORIA_PEIXES = 11;
        const CATEGORIA_LATICINIOS = 12;
        const CATEGORIA_MASSAS = 13;
        const CATEGORIA_COMIDA_ASIATICA = 14;
        const CATEGORIA_COMIDA_MEXICANA = 15;
        const CATEGORIA_OVOS = 16;

        new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            vuetify: new Vuetify({
                lang: {
                    current: 'pt-br',
                },
            }),

            data: {
                drawer: false,
                showFiltros: true,

                categorias: [{ id: 0, nome: 'Todas' },],
                negocios: [],
                negocioSelecionado: null,
                regioesEntrega: [{ id: 0, nome: 'Todas' },],

                estadoAtual: ESTADO_LISTA,
                estadoLista: ESTADO_LISTA,
                estadoDetalhe: ESTADO_DETALHE,

                pesquisa: {
                    categoria: 0,
                    nome: '',
                    regiaoEntrega: 0,
                },

                loading: []
            },

            computed: {
                negociosFiltrados: function () {
                    var lista = [];

                    const nomePesquisa = this.pesquisa.nome.toLowerCase();

                    for (negocio of this.negocios) {
                        if (this.filtrarNegocioCategoria(negocio) && this.filtrarNegocioNome(negocio, nomePesquisa)
                            && this.filtrarNegocioRegiaoEntrega(negocio)) {
                            lista.push(negocio);
                        }
                    }

                    function compare(a, b) {
                        if (a.nome < b.nome)
                            return -1;
                        if (a.nome > b.nome)
                            return 1;
                        return 0;
                    }

                    return lista.sort(compare);
                }
            },

            methods: {
                buscarCategoriaIcone(categoria_id) {
                    if (!categoria_id) return '';

                    for (categoria of this.categorias) {
                        if (categoria.id === categoria_id) {
                            return categoria.icone;
                        }
                    }
                    return '';
                },
                buscarCategoriaNome(categoria_id) {
                    if (!categoria_id) return '';

                    for (categoria of this.categorias) {
                        if (categoria.id === categoria_id) {
                            return categoria.nome;
                        }
                    }
                    return '';
                },
                filtrarNegocioCategoria(negocio) {
                    if (this.pesquisa.categoria) {
                        for (categoria of negocio.categorias) {
                            if (categoria.id === this.pesquisa.categoria) {
                                return true;
                            }
                        }
                        return false;
                    }
                    return true;
                },
                filtrarNegocioNome(negocio, nomeLowerCase) {
                    return (negocio.nome.toLowerCase().indexOf(nomeLowerCase) > -1);
                },
                filtrarNegocioRegiaoEntrega(negocio) {
                    if (this.pesquisa.regiaoEntrega) {
                        for (regiao_entrega of negocio.regioes_entrega) {
                            if (regiao_entrega.regiao === this.pesquisa.regiaoEntrega) {
                                return true;
                            }
                        }
                        return false;
                    }
                    return true;
                },
                formatarPreco(preco) {
                    if (!preco) return 0;

                    var centavos = String(preco % 100);
                    if (centavos.length < 2) {
                        centavos = "0".concat(centavos);
                    }
                    return `R$ ${Math.floor(preco / 100)},${centavos}`;
                },
                formatarTelefone(telefone) {
                    if (!telefone) return null;

                    const ddd = telefone.substring(0, 2);
                    const parte1 = telefone.substring(2, telefone.length - 4);
                    const parte2 = telefone.substring(telefone.length - 4);
                    return `(${ddd}) ${parte1}-${parte2}`
                },
                formatarFormaEntrega(formasEntrega) {
                    if (!formasEntrega) return null;

                    switch (formasEntrega) {
                        case 1:
                            return 'Delivery';
                        case 2:
                            return 'Take Out';
                        case 3:
                            return 'Delivery e Take Out';
                        default:
                            return null;
                    }
                },
                selecionarNegocio(negocio) {
                    this.negocioSelecionado = negocio;
                    this.negocioSelecionado.produtos = [];
                    this.estadoAtual = this.estadoDetalhe;

                    this.loading.push(1);
                    axios
                        .get(`/api/negocios/${this.negocioSelecionado.id}/produtos/`)
                        .then(response => {
                            this.loading.pop();
                            this.negocioSelecionado.produtos = response.data;
                        });

                    // Definir nomes para regiões de entrega
                    for (regiao_entrega of this.negocioSelecionado.regioes_entrega) {
                        for (regiao of this.regioesEntrega) {
                            if (regiao_entrega.regiao === regiao.id) {
                                regiao_entrega.nomeRegiao = regiao.nome;
                                break;
                            }
                        }
                    }
                },
                voltarLista() {
                    this.negocioSelecionado = null;
                    this.estadoAtual = this.estadoLista;
                }
            },

            mounted() {
                axios
                    .get('/api/negocios/')
                    .then(response => {
                        this.negocios = response.data;
                        for (negocio of this.negocios) {
                            // Preparar link instagram
                            if (negocio.instagram.length > 0) {
                                negocio.instagram = 'https://instagram.com/' + negocio.instagram;
                            }

                            for (contato of negocio.contatos) {
                                if (contato.nome.length > 0) {
                                    contato.nome_telefone = contato.nome + ' ' + this.formatarTelefone(contato.telefone);
                                } else {
                                    contato.nome_telefone = this.formatarTelefone(contato.telefone);
                                }

                                // Preparar link whatsapp
                                if (contato.possui_whatsapp) {
                                    contato.whatsapp = "https://wa.me/55" + contato.telefone;
                                }
                            }
                        }
                    });
                axios
                    .get('/api/categorias/')
                    .then(response => {
                        this.categorias.push(...response.data);
                        for (categoria of this.categorias) {

                            switch (categoria.id) {
                                case CATEGORIA_CONGELADOS:
                                    categoria.icone = 'mdi-snowflake';
                                    break;
                                case CATEGORIA_SALGADOS:
                                    categoria.icone = 'mdi-food-fork-drink';
                                    break;
                                case CATEGORIA_DOCES:
                                    categoria.icone = 'mdi-cupcake';
                                    break;
                                case CATEGORIA_PAES:
                                    categoria.icone = 'mdi-storefront-outline';
                                    break;
                                case CATEGORIA_BEBIDAS:
                                    categoria.icone = 'mdi-cup-water';
                                    break;
                                case CATEGORIA_CASTANHAS:
                                    categoria.icone = 'mdi-peanut-outline';
                                    break;
                                case CATEGORIA_CAFES:
                                    categoria.icone = 'mdi-coffee';
                                    break;
                                case CATEGORIA_COGUMELOS:
                                    categoria.icone = 'mdi-mushroom';
                                    break;
                                case CATEGORIA_HORTIFRUTI:
                                    categoria.icone = 'mdi-flower';
                                    break;
                                case CATEGORIA_CARNES:
                                    categoria.icone = 'mdi-silverware-fork-knife';
                                    break;
                                case CATEGORIA_PEIXES:
                                    categoria.icone = 'mdi-fish';
                                    break;
                                case CATEGORIA_LATICINIOS:
                                    categoria.icone = 'mdi-cow';
                                    break;
                                case CATEGORIA_MASSAS:
                                    categoria.icone = 'mdi-pasta';
                                    break;
                                case CATEGORIA_COMIDA_ASIATICA:
                                    categoria.icone = 'mdi-noodles';
                                    break;
                                case CATEGORIA_COMIDA_MEXICANA:
                                    categoria.icone = 'mdi-fire';
                                    break;
                                case CATEGORIA_OVOS:
                                    categoria.icone = 'mdi-egg-outline';
                                    break;
                            }
                        }
                    });
                axios
                    .get('/api/regioes-entrega/')
                    .then(response => {
                        this.regioesEntrega.push(...response.data);
                    });
            }
        })
    </script>
</body>

</html>