<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }

        h2,
        .v-toolbar__title {
            font-family: 'Merienda One', cursive;
            margin-bottom: 5px;
        }
    </style>

    {% if PROD %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7792152-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-7792152-10');
    </script>
    {% endif %}
</head>

{% comment %}
lime lighten-2
lime lighten-5
lime darken-3
deep-purple lighten-1
{% endcomment %}

<body>
    <v-app id="app" style="background-color: #F9FBE7;">
        <v-app-bar app color="lime darken-3" dark elevate-on-scroll>
            <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon> -->
            <v-toolbar-title>Apoie Produtores Locais</v-toolbar-title>
        </v-app-bar>

        <!-- <v-navigation-drawer app v-model="drawer">
            <v-list dense>
                <v-list-item link>
                    <v-list-item-action>
                        <v-icon>mdi-home</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Home</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer> -->

        <v-content>
            <v-container fluid>
                <v-row class="mx-0">
                    <v-col cols="12" md="6">
                        <v-sheet color="lime lighten-2" tile>
                            <v-sheet color="lime lighten-2" class="pa-3" tile>
                                <h2>Sobre</h2>
                                <p>A ideia dessa página é centralizar as informações de pequenos produtores no DF.</p>
                                <p class="mb-0">Dessa forma podemos encontrar padronizar as listas que tem circulado
                                    pelas redes sociais.</p>
                            </v-sheet>

                            <v-col cols="12" class="hidden-sm-and-down">
                                <v-divider></v-divider>
                            </v-col>

                            <v-sheet class="pa-3 hidden-sm-and-down" color="lime lighten-2" tile>
                                <h2>Filtros</h2>
                                <v-col md="4">
                                    <v-text-field v-model="pesquisa.nome" label="Nome" placeholder="Digite um nome"
                                        outlined>
                                    </v-text-field>
                                </v-col>
                            </v-sheet>
                    </v-col>

                    <v-col cols="12" class="hidden-md-and-up">
                        <v-divider></v-divider>
                    </v-col>

                    <v-col cols="12" md="6">
                        <v-sheet color="lime lighten-2" tile>
                            <v-sheet color="lime lighten-2" class="pa-3" tile>
                                <h2>Negócios</h2>
                                <v-card>
                                    <v-list class="py-0" color="lime lighten-5" two-line max-height="600"
                                        style="overflow-y: scroll;">
                                        <v-list-item-group multiple active-class="pink--text">
                                            <template v-for="(negocio, index) in negociosFiltrados">
                                                <v-list-item :key="negocio.id">
                                                    <template v-slot:default="{ active, toggle }">
                                                        <v-list-item-content>
                                                            <v-list-item-title>
                                                                <span>[[ negocio.nome ]]</span>
                                                                <span v-if="negocio.instagram.length > 0">
                                                                    <a :href="negocio.instagram"
                                                                        style="text-decoration: none !important;">
                                                                        <v-icon>mdi-instagram</v-icon>
                                                                    </a>
                                                                </span>
                                                            </v-list-item-title>
                                                            <v-list-item-subtitle class="text--primary"
                                                                v-text="negocio.endereco">
                                                            </v-list-item-subtitle>

                                                            <template
                                                                v-for="(contato, indexContato) in negocio.contatos">
                                                                <v-list-item-subtitle>
                                                                    <span>
                                                                        <span>[[ contato.nome_telefone ]]
                                                                            <a v-if="contato.whatsapp"
                                                                                :href="contato.whatsapp"
                                                                                style="text-decoration: none !important;">
                                                                                <v-icon>mdi-whatsapp</v-icon>
                                                                            </a></span>

                                                                    </span>
                                                                </v-list-item-subtitle>
                                                            </template>
                                                        </v-list-item-content>
                                                    </template>
                                                </v-list-item>
                                                <v-divider v-if="index + 1 < negociosFiltrados.length" :key="index">
                                                </v-divider>
                                            </template>
                                        </v-list-item-group>
                                    </v-list>
                                </v-card>
                            </v-sheet>
                        </v-sheet>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
        <v-footer app color="lime darken-3" absolute class="py-0">
            <v-col class="text-center py-1" cols="12">
                <span class="white--text">Feito por <a class="deep-purple--text text--lighten-1"
                        href="https://twitter.com/gui_niz" style="text-decoration: none !important;">@gui_niz</a></span>
            </v-col>
        </v-footer>
    </v-app>

    {% if PROD %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    {% else %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            vuetify: new Vuetify({
                lang: {
                    current: 'pt-br',
                },
            }),

            data() {
                return {
                    negocios: null,
                    drawer: false,

                    estado: 1,

                    pesquisa: {
                        nome: ''
                    }
                }
            },

            computed: {
                negociosFiltrados() {
                    var lista = [];

                    const nomePesquisa = this.pesquisa.nome.toLowerCase();
                    if (this.negocios) {
                        for (negocio of this.negocios) {
                            if (negocio.nome.toLowerCase().indexOf(nomePesquisa) > -1) {
                                lista.push(negocio);
                            }
                        }
                    }
                    return lista;
                }
            },

            methods: {
                formatarTelefone(telefone) {
                    if (!telefone) return null

                    const ddd = telefone.substring(0, 2);
                    const parte1 = telefone.substring(2, telefone.length - 4);
                    const parte2 = telefone.substring(telefone.length - 4);
                    return `(${ddd}) ${parte1}-${parte2}`
                }
            },

            mounted() {
                axios
                    .get('/api/negocios/')
                    .then(response => {
                        this.negocios = response.data;
                        for (negocio of this.negocios) {
                            // Preparar link instagram
                            if (negocio.instagram.length > 0) {
                                negocio.instagram = 'https://instagram.com/' + negocio.instagram;
                            }

                            for (contato of negocio.contatos) {
                                if (contato.nome.length > 0) {
                                    contato.nome_telefone = contato.nome + ' ' + this.formatarTelefone(contato.telefone);
                                } else {
                                    contato.nome_telefone = this.formatarTelefone(contato.telefone);
                                }

                                // Preparar link whatsapp
                                if (contato.possui_whatsapp) {
                                    contato.whatsapp = "https://wa.me/55" + contato.telefone;
                                }
                            }
                        }
                    })
            }
        })
    </script>
</body>

</html>